---
import TitleComponent from "@/components/TitleComponent.astro";
import Hero3DSection from "@/components/3DHeroSection.astro";
// import AutomateSection from "@/components/AutomateSection.astro";
import Layout from "../layouts/PageLayout.astro";
import PageMeta from "@/data/aboutUs";
import { Icon } from "astro-icon/components";
const { titles } = PageMeta;
---

<Layout title="saharaa.ai" active="aboutUs">
  <TitleComponent titles={titles} />
  <Hero3DSection />
  <Icon class="w-0 h-0" name="brandLogo"/>
  <div class="text-center mt-40 mb-10 text-h2 font-[Manrope]">
    Meet The Team
  </div>
  <div class="text-light-200 mb-20 text-center mx-auto w-[57.5rem] text-[1.5rem] leading-[2.25rem] font-[Manrope]">
    Sahara team is formed by experts from both AI and Web3 industries, bringing years of experience from leading tech companies and distinguished research institutions.
  </div>
  <div class="grid mx-40 grid-cols-2 gap-32 font-[Manrope]">
    <div>
      <img class="w-full mb-11" src="/image.png" alt="">
      <div class="text-[3.5rem] leading-[3.125rem] mb-3 flex items-center justify-between">Sean Ren
        <span class="flex"><Icon class="w-5 h-5 m-3" name="twitter"/> <Icon class="w-5 h-5 m-3"  name="linkedin"/></span>
      </div>
      <div class="text-2xl">Co-founder CEO</div>
    </div>
    <div>
      <img class="w-full mb-11" src="/image.png" alt="">
      <div class="text-[3.5rem] leading-[3.125rem] mb-3 flex items-center justify-between">Tyler Zhou
        <span class="flex"><Icon class="w-5 h-5 m-3" name="twitter"/> <Icon class="w-5 h-5 m-3"  name="linkedin"/></span>
      </div>
      <div class="text-2xl">Co-founder CEO</div>
    </div>
  </div>
  <div class="grid grid-cols-5 gap-7 teamBackground mx-40 mt-40 pb-[3.75rem] border-b border-b-light-200">
    <div>
      <img src="/teamBackground/USC.jpg"/>
    </div>
    <div>
      <img src="/teamBackground/snap.jpg"/>
    </div>
    <div>
      <img src="/teamBackground/Berkeley.jpg"/>
    </div>
    <div>
      <img src="/teamBackground/illinois.jpg"/>
    </div>
    <div>
      <img src="/teamBackground/toloka.jpg"/>
    </div>
    <div>
      <img src="/teamBackground/Microsoft.jpg"/>
    </div>
    <div>
      <img src="/teamBackground/A12.jpg"/>
    </div>
    <div>
      <img src="/teamBackground/paypal.jpg"/>
    </div>
    <div>
      <img src="/teamBackground/binance.jpg"/>
    </div>
    <div>
      <img src="/teamBackground/snap.jpg"/>
    </div>
  </div>
  <!-- <AutomateSection /> -->
  <div class="mx-40 mt-40 border-b border-b-light-200">
    <div class="mt-8 mb-7 py-1.5 flex gap-x-4 justify-center">
      <Icon class="w-7 h-7" name="brandLogo"/>
      <Icon class="w-7 h-7 text-light-200" name="brandLogo"/>
      <Icon class="w-7 h-7 text-light-300" name="brandLogo"/>
      <Icon class="w-7 h-7 text-light-300" name="brandLogo"/>
    </div>
    <div
      class="font-[Manrope] text-2xl leading-9 flex mx-auto w-[50rem] mb-[6.25rem]"
    >
      <div class="mr-[3.125rem]">
        <Icon class="w-6 h-6" name="quotes" />
      </div>
      <div class="font-[Manrope] text-center">
        The name ‘Sahara’ embodies our commitment to fairness and unity, reflecting how the myriad grains of sand form the desert's expansive and awe-inspiring terrain, paralleling the immense diversity of knowledge found within individuals in society.
      </div>
      <div class="ml-[3.125rem] flex items-end">
        <Icon class="w-6 h-6 rotate-180" name="quotes" />
      </div>
    </div>
  </div>
</Layout>
<style>
  .teamBackground > div{
    border: 1px solid #62666D;
    border-radius: 1.25rem;
    overflow: hidden;
  }
</style>
