---
import JobList from "@/components/JobList.vue";
import TitleComponent from "@/components/TitleComponent.astro";
import Layout from "../layouts/PageLayout.astro";
import PageMeta from "@/data/aboutUs";
const { careerTitles } = PageMeta;
const jobs = ["job1", "job2", "job3", "job4"];
---

<Layout title="saharaa.ai" active="aboutUs">
  <slot slot="base-layout">
    <div id="sectionHero" class="w-screen h-screen"></div>

    <div
      id="sectionTitle"
      class="w-screen h-screen absolute left-0 top-0 pointer-events-none"
    >
      <TitleComponent titles={careerTitles} />
    </div>
  </slot>
  <div
    id="sectionCareer"
    class="text-center pt-[8.625rem] pb-[11rem] text-s3 font-[Manrope] text-light-200"
  >
    None of these apply to you? We'd still love to stay in touch. Follow Sahara
    on LinkedIn.
  </div>
  <!-- <JobList client:load list={jobs} /> -->
  <div id="ashby_embed">
    <div slot="footer" class="mt-[7.5rem]">
      <h1 class="text-h1 tablet:text-h3 tablet:text-center font-[Manrope]">
        Start Your
      </h1>
      <h1 class="text-h1 tablet:text-h3 tablet:text-center font-[Manrope]">
        Sahara Journey
      </h1>
    </div>
  </div>
  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { makeCommonAppearEffect } from "@/utils/gsap.utils";
    import HeroView from "@/webgl/HeroView";

    gsap.registerPlugin(ScrollTrigger);
    makeCommonAppearEffect();

    const heroEl = document.getElementById("sectionHero");
    if (heroEl) {
      const viewer = new HeroView(heroEl, { layout: "two" });
      viewer.useSetup();
      viewer.play();
      gsap.to(heroEl, {
        scrollTrigger: {
          trigger: "#sectionCareer",
          start: "top bottom",
          end: "top top-=30",
          scrub: true,
          onEnterBack: () => {
            viewer.play();
          },
          onLeave: () => {
            viewer.stop();
          },
        },
        opacity: 0,
      });
    }

    // const titleEl = document.getElementById("sectionTitle");
    // if (titleEl) {
    //   gsap.to(titleEl, {
    //     scrollTrigger: {
    //       trigger: "#sectionCareer",
    //       start: "top bottom",
    //       end: "top top",
    //       scrub: true,
    //     },
    //     opacity: 0,
    //     y: "-30%",
    //   });
    // }
  </script>
</Layout>
