---
import TitleComponent from "@/components/TitleComponent.astro";
import Hero3DSection from "@/components/3DHeroSection.astro";
import Ring3DSection from "@/components/3DRingSection.astro";
import Layout from "../layouts/PageLayout.astro";
import PageMeta from "@/data/index";
import { Icon } from "astro-icon/components";
const { titles } = PageMeta;
---

<Layout title="saharaa.ai">
  <TitleComponent titles={titles} />
  <div id="sectionHero" class="w-full h-screen absolute"></div>
  <div id="sectionRing" style="margin-top: 100vh;">
    <Ring3DSection />
  </div>
  <div
    class="flex items-center justify-between mx-40 pt-[1.875rem] mb-[16.25rem] border-t border-t-[#E1E4E7] border-opacity-40"
  >
    <div class="font-[Manrope]">Learn more about how you can use Sahara:</div>
    <div class="flex">
      <div class="with-button flex items-center justify-center">
        For Personal
        <Icon class="w-5 h-5" name="arrowRightUp" />
      </div>
      <div class="with-button ml-5 flex items-center justify-center">
        For Business
        <Icon class="w-5 h-5" name="arrowRightUp" />
      </div>
    </div>
  </div>
  <div class="text-center font-[Manrope] mx-auto mb-[6.25rem]">
    <div class="h-7 mb-10 flex justify-center">
      <Icon class="w-7 h-7" name="brandLogo" />
    </div>
    <h1 class="text-[5.625rem] leading-[5.125rem] text-[#878A8D]">
      An ecosystem
    </h1>
    <h1 class="text-[5.625rem] leading-[5.125rem]">for collaborative</h1>
    <h1 class="text-[5.625rem] leading-[5.125rem]">intelligence</h1>
    <div class="w-[28.75rem] mx-auto mt-10">
      Your knowledge is part of a broader effort to build the next generation of
      Human-Al collaboration.
    </div>
  </div>
  <div class="mb-[18.125rem] h-[7.5rem] slider-container">
    <div class="flex sliders gap-10">
      <div class="slide"><img src="/partners/geekcartel.jpg" alt="" /></div>
      <div class="slide"><img src="/partners/samsung.jpg" alt="" /></div>
      <div class="slide"><img src="/partners/nomad.jpg" alt="" /></div>
      <div class="slide"><img src="/partners/canonical.jpg" alt="" /></div>
      <div class="slide"><img src="/partners/dispersion.jpg" alt="" /></div>
      <div class="slide"><img src="/partners/alumni.jpg" alt="" /></div>
      <div class="slide"><img src="/partners/tangent.jpg" alt="" /></div>
      <div class="slide"><img src="/partners/motherson.jpg" alt="" /></div>
      <div class="slide"><img src="/partners/coho.jpg" alt="" /></div>
      <div class="slide"><img src="/partners/sandeep.jpg" alt="" /></div>
    </div>
  </div>
  <div class="flex flex-col items-center font-[Manrope] mb-[4.125rem]">
    <h1 class="text-[5.625rem] leading-[5.125rem]">Sahara Roadmap</h1>
    <div class="w-[28.75rem] text-center mt-5 text-[#979EA8]">
      Navigate journey across the digital dunes of innovation in the Sahara of
      tomorrow.
    </div>
  </div>
  <div class="flex gap-12 px-40 py-[3.125rem] mb-[34.875rem] font-[Manrope]">
    <div class="flex">
      <div class="w-5 mr-7">
        <Icon class="w-5 h-5" name="brandLogo" />
      </div>
      <div class="">
        <div class="text-lg mb-2">Q2 2024</div>
        <div class="text-[2rem] leading-[3rem]">
          Sahara Knowledge Vault Sahara Data
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="w-5 mr-7">
        <Icon class="w-5 h-5" name="brandLogo" />
      </div>
      <div class="">
        <div class="text-lg mb-2">Q3 2024</div>
        <div class="text-[2rem] leading-[3rem]">
          Sahara Knowledge Vault Sahara Data
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="w-5 mr-7">
        <Icon class="w-5 h-5" name="brandLogo" />
      </div>
      <div class="">
        <div class="text-lg mb-2">Q4 2024</div>
        <div class="text-[2rem] leading-[3rem]">
          Sahara Knowledge Vault Sahara Data
        </div>
      </div>
    </div>
  </div>
  <div slot="footer">
    <h1 class="gradient-text">Start Your</h1>
    <h1 class="gradient-text">Sahara Journey</h1>
  </div>
</Layout>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import HeroView from "@/webgl/HeroView";

  gsap.registerPlugin(ScrollTrigger);

  const heroEl = document.getElementById("sectionHero");
  if (heroEl) {
    const viewer = new HeroView(heroEl);
    viewer.useSetup();
    viewer.play();
    gsap.to(heroEl, {
      scrollTrigger: {
        trigger: "#sectionRing",
        start: "top bottom",
        end: "top top",
        scrub: true,
        onEnterBack: () => {
          viewer.play();
        },
        onLeave: () => {
          viewer.stop();
        },
      },
      opacity: 0,
      // onComplete: () => {
      //   viewer.stop();
      // },
    });
  }

  const sliderContainer = document.querySelector(".sliders") as HTMLDivElement;
  const slideWidth = sliderContainer.offsetWidth / 6; //
  gsap.timeline({ repeat: -1, yoyo: true }).to(sliderContainer, {
    duration: 10,
    x: -slideWidth,
    ease: "linear",
  });
</script>
<style>
  .with-button {
    border: 1px solid #474040;
    cursor: pointer;
    padding: 0.625rem 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 20rem;
    border-radius: 0.75rem;
  }
  .slide {
    min-width: 16.25rem;
    max-width: 16.25rem;
    height: 7.5rem;
    border: 1px solid #62666d;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  .slide img {
    height: 100%;
    width: auto;
  }
  .gradient-text {
    white-space: nowrap;
    font-size: 6.875rem;
    line-height: 6.375rem;
    font-family: Manrope;
    color: #e1e4e7;
  }
  .scroll-selector {
    position: relative;
    overflow: hidden;
    height: 50rem;
  }

  .scroll-selector ul {
    position: absolute;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out; /* 平滑滚动效果 */
  }

  .scroll-selector li {
    height: 20.875rem;
    cursor: pointer;
  }
</style>
