---
import TitleComponent from "@/components/TitleComponent.astro";
// import HeroSection from "@/components/HeroSection.astro";
// import AutomateSection from "@/components/AutomateSection.astro";
import Hero3DSection from "@/components/3DHeroSection.astro";
import Ring3DSection from "@/components/3DRingSection.astro";
import AutomateSection from "@/components/AutomateSection.astro";
import Layout from "../layouts/PageLayout.astro";
import PageMeta from "@/data/index";
import { Icon } from "astro-icon/components";
const { titles } = PageMeta;
---

<Layout title="saharaa.ai">
  <!-- <TitleComponent titles={titles} /> -->
  <Ring3DSection />
  <!-- <Hero3DSection /> -->
  <div class="flex mx-40 mt-[10rem] mb-[3.75rem]">
    <div class="mr-[3.75rem]"></div>
    <div class="scroll-selector w-[36.125rem]">
      <ul class="font-[Manrope] flex flex-col gap-[1.125rem]">
        <li></li>
        <li>
          <h1 class="text-[5.625rem] leading-[5.125rem] mb-[0.875rem]">
            Own your
          </h1>
          <h1 class="text-[5.625rem] leading-[5.125rem]">knowledge</h1>
          <div class="mt-7">
            Use blockchain infrastructure that's trustless, permissionless, and
            privacy-preserving so your information stays under your control.
          </div>
        </li>
        <li>
          <h1 class="text-[5.625rem] leading-[5.125rem] mb-[0.875rem]">
            Scale your
          </h1>
          <h1 class="text-[5.625rem] leading-[5.125rem]">knowledge</h1>
          <div class="mt-7">
            Create autonomous Al agents that expand the impact of your knowledge
            base, skills, and expertise and are customized to meet your needs.
          </div>
        </li>
        <li>
          <h1
            class="text-[5.625rem] leading-[5.125rem] mb-[0.875rem] whitespace-nowrap"
          >
            Monetize your
          </h1>
          <h1 class="text-[5.625rem] leading-[5.125rem]">knowledge</h1>
          <div class="mt-7">
            Join the decentralized ecosystem of global knowledge capital to
            leverage your data for novel income opportunities.
          </div>
        </li>
      </ul>
    </div>
    <div class="flex-1 bg-gray-400">
      <!-- <Ring3DSection /> -->
    </div>
  </div>

  <div
    class="flex items-center justify-between mx-40 pt-[1.875rem] mb-[16.25rem] border-t border-t-[#E1E4E7] border-opacity-40"
  >
    <div class="font-[Manrope]">Learn more about how you can use Sahara:</div>
    <div class="flex">
      <div class="with-button flex items-center justify-center">
        For Personal
        <Icon class="w-5 h-5" name="arrowRightUp" />
      </div>
      <div class="with-button ml-5 flex items-center justify-center">
        For Business
        <Icon class="w-5 h-5" name="arrowRightUp" />
      </div>
    </div>
  </div>
  <div class="text-center font-[Manrope] mx-auto mb-[6.25rem]">
    <div class="h-8 mb-10"></div>
    <h1 class="text-[5.625rem] leading-[5.125rem] text-[#878A8D]">
      An ecosystem
    </h1>
    <h1 class="text-[5.625rem] leading-[5.125rem]">for collaborative</h1>
    <h1 class="text-[5.625rem] leading-[5.125rem]">intelligence</h1>
    <div class="w-[28.75rem] mx-auto mt-10">
      Your knowledge is part of a broader effort to build the next generation of
      Human-Al collaboration.
    </div>
  </div>
  <div class="mb-[18.125rem] h-[7.5rem] slider-container">
    <div class="flex sliders gap-10">
      <div class="slide">1</div>
      <div class="slide">2</div>
      <div class="slide">3</div>
      <div class="slide">4</div>
      <div class="slide">5</div>
      <div class="slide">6</div>
      <div class="slide">1</div>
      <div class="slide">2</div>
      <div class="slide">3</div>
      <div class="slide">4</div>
      <div class="slide">5</div>
      <div class="slide">6</div>
      <div class="slide">1</div>
    </div>
  </div>
  <div class="flex flex-col items-center font-[Manrope] mb-[4.125rem]">
    <h1 class="text-[5.625rem] leading-[5.125rem]">Sahara Roadmap</h1>
    <div class="w-[28.75rem] text-center mt-5 text-[#979EA8]">
      Navigate journey across the digital dunes of innovation in the Sahara of
      tomorrow.
    </div>
  </div>
  <div class="flex gap-12 px-40 py-[3.125rem] mb-[34.875rem] font-[Manrope]">
    <div>
      <div class="w-5 mr-8"></div>
      <div class="">
        <div class="text-[1rem] leading-none mb-2">Q2 2024</div>
        <div class="text-[2rem] leading-[3rem]">
          Sahara Knowledge Vault Sahara Data
        </div>
      </div>
    </div>
    <div>
      <div class="w-5 mr-8"></div>
      <div class="">
        <div class="text-[1rem] leading-none mb-2">Q3 2024</div>
        <div class="text-[2rem] leading-[3rem]">
          Sahara Knowledge Vault Sahara Data
        </div>
      </div>
    </div>
    <div>
      <div class="w-5 mr-8"></div>
      <div class="">
        <div class="text-[1rem] leading-none mb-2">Q4 2024</div>
        <div class="text-[2rem] leading-[3rem]">
          Sahara Knowledge Vault Sahara Data
        </div>
      </div>
    </div>
  </div>
  <div slot="footer">
    <h1 class="gradient-text">Start Your</h1>
    <h1 class="gradient-text">Sahara Journey</h1>
  </div>
</Layout>
<script>
  import { gsap } from "gsap";
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";

  gsap.registerPlugin(ScrollToPlugin);
  const sliderContainer = document.querySelector(".sliders") as HTMLDivElement;
  const slideWidth = sliderContainer.offsetWidth / 6; //
  console.log(slideWidth);
  gsap.timeline({ repeat: -1, yoyo: true }).to(sliderContainer, {
    duration: 10,
    x: -slideWidth,
    ease: "linear",
  });

  const scrollSelector = document.querySelector(
    ".scroll-selector",
  ) as HTMLDivElement;
  const cityList = Array.from(scrollSelector.querySelectorAll("li"));
  let currentScrollPosition = 0;

  // 初始化GSAP的TweenMax
  gsap.registerPlugin(ScrollToPlugin); // 确保你已经引入了ScrollToPlugin

  const height = 334;
  // 滚轮事件监听器
  scrollSelector.addEventListener("wheel", (event) => {
    event.preventDefault(); // 阻止默认滚动行为
    const scrollDirection = event.deltaY < 0 ? 1 : -1; // 判断滚动方向
    let targetIndex =
      Math.round(scrollSelector.scrollTop / height) + scrollDirection;

    // 确保目标索引在有效范围内
    targetIndex = Math.min(Math.max(0, targetIndex), cityList.length - 1);

    // 计算目标位置
    const targetPosition = targetIndex * height;

    // 使用GSAP平滑滚动到目标位置
    gsap.to(scrollSelector, {
      duration: 0.3, // 动画持续时间
      scrollTo: { y: targetPosition, autoKill: true }, // 滚动到目标位置
      ease: "power1.inOut", // 缓动函数
    });

    // 更新当前滚动位置
    currentScrollPosition = targetPosition;
  });
  scrollSelector.addEventListener("scroll", () => {
    const currentIndex = Math.round(scrollSelector.scrollTop / height);
    console.log(currentIndex);
    cityList.forEach((li, index) => {
      li.classList.toggle("active", index === currentIndex);
    });
  });
</script>
<style>
  .with-button {
    border: 1px solid #474040;
    cursor: pointer;
    padding: 0.625rem 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 20rem;
    border-radius: 0.75rem;
  }

  .slider-container {
    overflow: hidden;
    width: 100%;
  }
  .sliders {
    height: 100%;
    width: 100%;
    animation: scroll 10s linear infinite;
  }

  /* 关键帧动画，用于无缝滚动 */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .slide {
    min-width: 16.25rem;
    max-width: 16.25rem;
    height: 100%;
    border: 1px solid red;
  }
  .gradient-text {
    white-space: nowrap;
    font-size: 6.875rem;
    line-height: 6.375rem;
    font-family: Manrope;
    color: #e1e4e7;
  }
  .scroll-selector {
    position: relative;
    overflow: hidden;
    height: 50rem;
  }

  .scroll-selector ul {
    position: absolute;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out; /* 平滑滚动效果 */
  }

  .scroll-selector li {
    height: 20.875rem;
    cursor: pointer;
  }
</style>
