---
import TitleComponent from "@/components/TitleComponent.astro";
import Ring3DSection from "@/components/3DRingSection.astro";
import SwiperSection from "@/components/SwiperSection.astro";
import Layout from "../layouts/PageLayout.astro";
import PageMeta from "@/data/index";
import { Icon } from "astro-icon/components";
const { titles } = PageMeta;
---

<div
  class="items-center py-2.5 hidden tablet:flex bg-light-100 relative z-50 justify-center text-dark-400"
>
  Sahara raises $6M in seed round led by Polychain Capital
  <Icon class="w-5 h-5" name="arrowRightUp" />
</div>
<Layout title="saharaa.ai">
  <slot slot="base-layout">
    <div
      id="sectionHero"
      class="w-screen h-screen first-screen-bottom-mask-wrap"
    >
    </div>
    <div
      id="sectionTitle"
      class="w-screen h-screen absolute left-0 top-0 pointer-events-none"
    >
      <TitleComponent isMin={true} titles={titles} />
    </div>
  </slot>

  <div id="sectionRing" class="w-full bg-[#121315] mt-20">
    <Ring3DSection />
  </div>

  <div
    class="flex items-center tablet:flex-col justify-between tablet:text-h3 pt-[2.25rem] tablet:pt-7 mb-[15.25rem] tablet:mb-[7.5rem] border-t border-t-dark-200 border-opacity-40"
  >
    <div class="font-[Manrope] text-s3 tablet:pb-5 tablet:text-base">
      Learn more about how you can use Sahara:
    </div>
    <div class="flex w-[40rem] mobile:w-full">
      <div
        class="font-[IBMPlexMono-Medium] py-2.5 rounded-xl flex-1 tablet:text-sm mobile:text-xs flex items-center justify-center border border-light-100"
      >
        For Personal
        <Icon class="w-5 h-5" name="arrowRightUp" />
      </div>
      <div
        class="font-[IBMPlexMono-Medium] py-2.5 rounded-xl flex-1 tablet:text-sm mobile:text-xs ml-5 mobile:ml-3 flex items-center justify-center border border-light-100"
      >
        For Business
        <Icon class="w-5 h-5" name="arrowRightUp" />
      </div>
    </div>
  </div>
  <div class="text-center font-[Manrope] mx-auto mb-[7.5rem] tablet:mb-7">
    <div class="h-7 mb-10 tablet:mb-4 flex justify-center">
      <Icon class="w-7 h-7 tablet:w-5 tablet:h-5" name="brandLogo" />
    </div>
    <h1 class="text-h2 tablet:text-h5 text-light-200">An Ecosystem</h1>
    <h1 class="text-h2 tablet:text-h5">for collaborative</h1>
    <h1 class="text-h2 tablet:text-h5">intelligence</h1>
    <div class="w-[28.75rem] mx-auto mt-10 tablet:mt-4 mobile:w-full">
      Your knowledge is part of a broader effort to build the next generation of
      Human-Al collaboration.
    </div>
  </div>
  <div class="h-[7.5rem] tablet:h-[4.25rem] relative"><SwiperSection /></div>
  <div
    class="flex flex-col items-center font-[Manrope] mt-[20.25rem] tablet:mt-[7.5rem] mb-[4.125rem] tablet:mb-11"
  >
    <h1 class="text-h2 tablet:text-h5 mobile:text-h5">Sahara Roadmap</h1>
    <div
      class="w-[28.75rem] text-center mt-10 tablet:mt-4 text-light-200 mobile:text-sm mobile:w-full"
    >
      Navigate journey across the digital dunes of innovation in the Sahara of
      tomorrow.
    </div>
  </div>
  <div
    class="flex gap-12 mobile:flex-col py-[3.125rem] tablet:py-0 mb-[11.875rem] tablet:mb-[3.75rem] mobile:mb-20 font-[Manrope]"
  >
    <div class="common-up-move flex tablet:flex-col tablet:items-center">
      <div class="w-5 mr-7 tablet:mr-0 tablet:mb-3">
        <Icon class="w-5 h-5" name="brandLogo" />
      </div>
      <div class="tablet:text-center">
        <div class="text-lg mb-2 tablet:text-[0.75rem] tablet:mb-1">
          Q2 2024
        </div>
        <div
          class="text-[2rem] leading-[3rem] tablet:text-[1.125rem] tablet:leading-[1.75rem]"
        >
          Sahara Knowledge Vault Sahara Data
        </div>
      </div>
    </div>
    <div class="common-up-move flex tablet:flex-col tablet:items-center">
      <div class="w-5 mr-7 tablet:mr-0 tablet:mb-3">
        <Icon class="w-5 h-5" name="brandLogo" />
      </div>
      <div class="tablet:text-center">
        <div class="text-lg mb-2 tablet:text-[0.75rem] tablet:mb-1">
          Q3 2024
        </div>
        <div
          class="text-[2rem] leading-[3rem] tablet:text-[1.125rem] tablet:leading-[1.75rem]"
        >
          Sahara Knowledge Vault Sahara Data
        </div>
      </div>
    </div>
    <div class="common-up-move flex tablet:flex-col tablet:items-center">
      <div class="w-5 mr-7 tablet:mr-0 tablet:mb-3">
        <Icon class="w-5 h-5" name="brandLogo" />
      </div>
      <div class="tablet:text-center">
        <div class="text-lg mb-2 tablet:text-[0.75rem] tablet:mb-1">
          Q4 2024
        </div>
        <div
          class="text-[2rem] leading-[3rem] tablet:text-[1.125rem] tablet:leading-[1.75rem]"
        >
          Sahara Knowledge Vault Sahara Data
        </div>
      </div>
    </div>
  </div>
  <div slot="footer" class="pt-[7.625rem] tablet:pt-[3.75rem]">
    <h1
      class="text-h1 tablet:text-h3 mobile:text-h4 tablet:text-center font-[Manrope]"
    >
      Start Your
    </h1>
    <h1
      class="text-h1 tablet:text-h3 mobile:text-h4 tablet:text-center font-[Manrope]"
    >
      Sahara Journey
    </h1>
  </div>
</Layout>
<!-- <div
  class="border-t border-t-dark-200 fixed bg-dark-400 bottom-0 p-6 w-full hidden tablet:block"
>
  <div class="font-[Manrope] text-s3 leading-6">Our website uses cookies</div>
  <div class="font-[Manrope] text-light-200 text-[1rem] leading-7">
    Which are necessary for stable operation of the site
  </div>
  <div class="mt-[0.875rem] flex">
    <div
      class="border border-light-100 flex px-4 py-2.5 items-center bg-dark-400 rounded-xl text-sm"
    >
      Dismis
    </div>
    <div
      class="flex ml-2 flex-1 justify-center items-center bg-light-100 px-4 py-2.5 rounded-xl text-dark-400"
    >
      Accept cookies<Icon class="w-5 h-5" name="arrowRightUp" />
    </div>
  </div>
</div> -->
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import HeroView from "@/webgl/HeroView";
  import { makeCommonAppearEffect } from "@/utils/gsap.utils";

  gsap.registerPlugin(ScrollTrigger);
  makeCommonAppearEffect();

  const heroEl = document.getElementById("sectionHero");
  if (heroEl) {
    const viewer = new HeroView(heroEl);
    viewer.useSetup();
    viewer.play();
    gsap.to(heroEl, {
      scrollTrigger: {
        trigger: "#sectionRing",
        start: "top bottom",
        end: "top top-=30",
        scrub: true,
        onEnterBack: () => {
          viewer.play();
        },
        onLeave: () => {
          viewer.stop();
        },
      },
      opacity: 0,
    });
  }

  const titleEl = document.getElementById("sectionTitle");
  if (titleEl) {
    gsap.to(titleEl, {
      scrollTrigger: {
        trigger: "#sectionRing",
        start: "top bottom",
        end: "top top",
        scrub: true,
      },
      opacity: 0,
      y: "-30%",
    });
  }
</script>
<style></style>
