---
import TitleComponent from "@/components/TitleComponent.astro";
import Hero3DSection from "@/components/3DHeroSection.astro";
import Ring3DSection from "@/components/3DRingSection.astro";
// import AutomateSection from "@/components/AutomateSection.astro";
import Layout from "../layouts/PageLayout.astro";
import PageMeta from "@/data/personal";
import { Icon } from "astro-icon/components";
import titleIcon_01 from "@/assets/icons/titleIcon_01.jpg";
import titleIcon_02 from "@/assets/icons/titleIcon_02.jpg";
import titleIcon_03 from "@/assets/icons/titleIcon_03.jpg";
const { titles } = PageMeta;
---

<Layout title="saharaa.ai" active="personal">
  <div>
    <TitleComponent titles={titles} />
    <Hero3DSection />
  </div>
  <Ring3DSection />
  <h1 class="gradient-text text-center pt-40 pb-[7.5rem]">Automate yourself</h1>
  <div class="px-40 flex gap-[3.125rem] font-[Manrope] mb-[3.75rem]">
    <div class="flex-1">
      <div class="w-[7.5rem] mb-[3.75rem]">
        <img class="w-full" src={titleIcon_01.src} alt="logo" />
      </div>
      <h2 class="text-4xl">Build your</h2>
      <h2 class="text-4xl">personal knowledge Vault</h2>
      <div
        class="text-lg text-[#979EA8] mt-7 pb-[3.75rem] border-b border-b-[#404347]"
      >
        Claim ownership of your knowledge capital with your personal Sahara ID
        and safeguard it within your Knowledge Vault.
      </div>
    </div>
    <div class="flex-1">
      <div class="w-[7.5rem] mb-[3.75rem]">
        <img class="w-full" src={titleIcon_02.src} alt="logo" />
      </div>
      <h2 class="text-4xl">Train your</h2>
      <h2 class="text-4xl">own AI</h2>
      <div
        class="text-lg text-[#979EA8] mt-7 pb-[3.75rem] border-b border-b-[#404347]"
      >
        Create your replica AIs from your Knowledge Vault in a
        privacy-preserving way through Sahara Knowledge Agent’s no-code
        platform.
      </div>
    </div>
    <div class="flex-1">
      <div class="w-[7.5rem] mb-[3.75rem]">
        <img class="w-full" src={titleIcon_03.src} alt="logo" />
      </div>
      <h2 class="text-4xl">Capitalize your</h2>
      <h2 class="text-4xl">knowledge at scale</h2>
      <div
        class="text-lg text-[#979EA8] mt-7 pb-[3.75rem] border-b border-b-[#404347]"
      >
        Participate in a broader decentralized network that enables cross-agent
        communication, knowledge transfer and capitalization between
        individuals.
      </div>
    </div>
  </div>
  <div
    class="mx-auto w-[27.25rem] border whitespace-nowrap border-[#474040] text-base leading-5 cursor-pointer py-2.5 px-4 flex items-center justify-center rounded-xl text-[#E1E4E7]"
  >
    Join waitlist
    <Icon class="w-5 h-5" name="arrowRightUp" />
  </div>
  <div class="flex px-40 mt-40">
    <div class="py-[7.25rem] w-[40rem] font-[Manrope]">
      <div class="gradient-text text-[#878A8D]">Sahara</div>
      <div class="gradient-text">Knowledge</div>
      <div class="gradient-text">Agents</div>
      <div class="py-7 flex items-center">
        <div class="bg-[#D9D9D9] rounded-full w-2.5 h-2.5 mr-2"></div>
        Coming soon
      </div>
      <div class="text-[#979EA8]">
        Living at the intersection between blockchain and AI, Sahara KA is a
        Web3 modification of the HyperTune infrastructure where the base model
        is on-chain, guaranteeing data privacy and decentralization.
      </div>
      <div class="my-7 border-t border-t-[rgba(71,64,64,.4)]"></div>
      <div>
        Sahara’s services for individuals are based on Sahara Knowledge Agents
        which are under active development by the Sahara team.
      </div>
    </div>
    <div class="flex-1 bg-white"></div>
  </div>
  <!-- <AutomateSection /> -->
</Layout>
<script></script>
<style>
  .gradient-text {
    white-space: nowrap;
    font-size: 5.625rem;
    line-height: 5.125rem;
    font-family: Manrope;
    color: #e1e4e7;
  }
</style>
