---
import TitleComponent from "@/components/TitleComponent.astro";
import Ring3DSection from "@/components/3DRingSection.astro";
import TextTyping from "@/components/TextTyping.astro";
import Layout from "../layouts/PageLayout.astro";
import PageMeta from "@/data/personal";
import { Icon } from "astro-icon/components";
import titleIcon_01 from "@/assets/icons/titleIcon_01.jpg";
import titleIcon_02 from "@/assets/icons/titleIcon_02.jpg";
import titleIcon_03 from "@/assets/icons/titleIcon_03.jpg";
const { titles } = PageMeta;
---

<Layout title="saharaa.ai" active="personal">
  <div id="sectionHero" class="w-screen h-screen"></div>

  <div
    id="sectionTitle"
    class="w-screen h-screen absolute left-0 top-0 pointer-events-none"
  >
    <TitleComponent titles={titles} />
  </div>

  <h1
    id="sectionPersonal"
    class="text-h2 font-[Manrope] text-center pt-[9.125rem] pb-[7.5rem] tablet:text-h5 tablet:pt-[3.75rem] tablet:pb-11"
  >
    Automate yourself
  </h1>
  <div
    class="px-40 flex gap-x-[3.125rem] font-[Manrope] mb-[3.75rem] tablet:px-6 tablet:flex-col tablet:items-center tablet:text-center tablet:mb-0"
  >
    <div class="common-up-move flex-1">
      <div class="w-[7.5rem] mb-[3.75rem] tablet:mx-auto tablet:mb-4">
        <img class="w-full" src={titleIcon_01.src} alt="logo" />
      </div>
      <h2 class="text-h5 tablet:text-s3">Build your</h2>
      <h2 class="text-h5 tablet:text-s3">personal knowledge Vault</h2>
      <div
        class="text-lg text-light-200 mt-8 tablet:mt-4 pb-[3.75rem] border-b border-b-dark-100 tablet:border-none"
      >
        Claim ownership of your knowledge capital with your personal Sahara ID
        and safeguard it within your Knowledge Vault.
      </div>
    </div>
    <div class="common-up-move flex-1">
      <div class="w-[7.5rem] mb-[3.75rem] tablet:mx-auto tablet:mb-4">
        <img class="w-full" src={titleIcon_02.src} alt="logo" />
      </div>
      <h2 class="text-h5 tablet:text-s3">Train your</h2>
      <h2 class="text-h5 tablet:text-s3">own AI</h2>
      <div
        class="text-lg text-light-200 mt-8 pb-[3.75rem] tablet:pb-[4.25rem] border-b border-b-dark-100 tablet:border-none"
      >
        Create your replica AIs from your Knowledge Vault in a
        privacy-preserving way through Sahara Knowledge Agent’s no-code
        platform.
      </div>
    </div>
    <div class="common-up-move flex-1">
      <div class="w-[7.5rem] mb-[3.75rem] tablet:mx-auto tablet:mb-4">
        <img class="w-full" src={titleIcon_03.src} alt="logo" />
      </div>
      <h2 class="text-h5 tablet:text-s3">Capitalize your</h2>
      <h2 class="text-h5 tablet:text-s3">knowledge at scale</h2>
      <div
        class="text-lg text-light-200 mt-8 pb-[3.75rem] border-b tablet:pb-[4.25rem] border-b-dark-100 tablet:border-none"
      >
        Participate in a broader decentralized network that enables cross-agent
        communication, knowledge transfer and capitalization between
        individuals.
      </div>
    </div>
  </div>
  <div
    class="mx-auto w-[27rem] tablet:w-40 border font-[IBMPlexMono-Medium] whitespace-nowrap border-dark-100 text-[0.875rem] cursor-pointer py-2.5 px-4 flex items-center justify-center rounded-xl text-light-100"
  >
    Join waitlist
    <Icon class="w-5 h-5" name="arrowRightUp" />
  </div>
  <div class="flex px-40 pt-[9.125rem] tablet:mt-[3.75rem] tablet:flex-col">
    <div
      class="py-[9.125rem] w-[40rem] font-[Manrope] tablet:py-[3.75rem] tablet:w-full tablet:text-center"
    >
      <div class="text-h2 font-[Manrope] text-light-200 tablet:text-h4">
        Sahara
      </div>
      <div class="text-h2 font-[Manrope] tablet:text-h4 w-[30rem]">
        <TextTyping text="Knowledge Agents" />
      </div>
      <div class="py-7 flex items-center tablet:py-4 tablet:justify-center">
        <div class="bg-[#D9D9D9] rounded-full w-2.5 h-2.5 mr-2"></div>
        Coming soon
      </div>
      <div class="text-light-100 text-s3 tablet:text-sm">
        Sahara Knowledge Agent (KA) Personal is an advanced personal replica
        based on your proprietary knowledge. It can interact with the
        environment and provide personalized adaptability and intelligence.
      </div>
      <div class="mt-[4.5rem] mb-7 border-t border-t-dark-100 tablet:my-4"></div>
      <div class="tablet:text-base">
        Leveraging proprietary blockchain and AI technology, Sahara KA is
        trained and served in a privacy-preserving, trustless, and decentralized
        manner.
      </div>
      <div
        class="mx-auto mt-4 tablet:w-40 tablet:flex border whitespace-nowrap border-dark-100 text-base leading-5 cursor-pointer py-2.5 px-4 hidden items-center justify-center rounded-xl text-light-200"
      >
        Join waitlist
        <Icon class="w-5 h-5" name="arrowRightUp" />
      </div>
    </div>
    <div class="flex-1 bg-white"></div>
  </div>
  <!-- <AutomateSection /> -->
</Layout>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import HeroView from "@/webgl/HeroView";
  import { makeCommonAppearEffect } from "@/utils/gsap.utils";

  gsap.registerPlugin(ScrollTrigger);
  makeCommonAppearEffect();

  const heroEl = document.getElementById("sectionHero");
  if (heroEl) {
    const viewer = new HeroView(heroEl, { layout: "two" });
    viewer.useSetup();
    viewer.play();
    gsap.to(heroEl, {
      scrollTrigger: {
        trigger: "#sectionPersonal",
        start: "top bottom",
        end: "top top-=30",
        scrub: true,
        onEnterBack: () => {
          viewer.play();
        },
        onLeave: () => {
          viewer.stop();
        },
      },
      opacity: 0,
    });
  }

  const titleEl = document.getElementById("sectionTitle");
  if (titleEl) {
    gsap.to(titleEl, {
      scrollTrigger: {
        trigger: "#sectionPersonal",
        start: "top bottom",
        end: "top top",
        scrub: true,
      },
      opacity: 0,
      y: "-50%",
    });
  }
</script>
<style></style>
