---
import Layout from "../layouts/PageLayout.astro";
---

<Layout title="Sahara AI">
    <section class="flex flex-col relative w-full h-full pt-[100px] items-center">
        <span class="text-[2.5rem]">Sahara Privacy Policy</span>
        <div class="flex flex-col">
            <span class="mb-6">Last Modified: March 5, 2024</span>
            <span class="font-bold mb-6 text-[2rem]">Introduction</span>
            <span class="mb-6">
                Sahara AI Ltd. ("Sahara", "we", "us") respects your privacy and provides this Privacy Policy (the "policy") to inform you about the personal information we may collect from you or that you may provide when you visit the website Saharalabs.ai (our "Website") and our treatment of and practices related to collecting, using, and disclosing personal information.
                As used in this policy, "personal information" relates to information that identifies, relates to, describes, or could reasonably be linked with an identifiable natural person.
                This policy applies to personal information we collect:
            </span>
            <ul class="flex flex-col pl-3 mb-6">
                <li class="flex items-center"><span class="points"></span>On this Website.</li>
                <li class="flex items-center"><span class="points"></span>In email, text, and other electronic communications between you and us.</li>
                <li class="flex items-center"><span class="points"></span>Through mobile and desktop applications you download from this Website, which provides dedicated non-browser-based interaction between you and this Website.</li>
            </ul>
            <span class="mb-6">This policy does not apply to websites, applications, or services that do not display or link to this policy or that display or link to different privacy statements.</span>
            <span class="mb-6">Please read this policy carefully to understand our policies and practices regarding your personal information and how we will treat it. By accessing or using this Website, you consent to this policy and our Terms of Service. </span>
            <span class="font-bold mb-6 text-[2rem] mt-8">Information We Collect About You and How We Collect It</span>
            <span class="mb-6">We may collect the following categories of personal information from and about users of our Website:</span>
            <ul class="flex flex-col pl-3 mb-6">
                <li class="flex items-center">
                    <span class="points"></span>
                    <div>
                        <span class="font-bold mb-6">Identifiers: </span>such as name, postal address, e-mail address, telephone number, social media username, or other identifying information.
                    </div>
                </li>
                <li class="flex items-center">
                    <span class="points"></span>
                    <div>
                        <span class="font-bold mb-6">Device Information: </span>such as internet protocol (IP) address, web browser type, operating system version, phone carrier and manufacturer, [application installations], device identifiers, and mobile advertising identifiers.
                    </div>
                </li>
                <li class="flex items-center">
                    <span class="points"></span>
                    <div>
                        <span class="font-bold mb-6">Usage data: </span>such as internet or other electronic network activity information including, but not limited to, browsing history, search history, and information regarding a consumer’s interaction with an internet website, application, or advertisement.
                    </div>
                </li>
                <li class="flex items-center">
                    <span class="points"></span>
                    <div>
                        <span class="font-bold mb-6">Profiles and inferences: </span>inferences drawn from any of the information identified above to create a profile reflecting your preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, or aptitudes.
                    </div>
                </li>
                <li class="flex items-center">
                    <span class="points"></span>
                    <div>
                        <span class="font-bold mb-6">Commercial information: </span>including records of services rendered, purchased, obtained, or considered, or other purchasing or use histories or tendencies.
                    </div>
                </li>
                <li class="flex items-center">
                    <span class="points"></span>
                    <div>
                        <span class="font-bold mb-6">Job application information: </span>such as your resume or CV, cover letter, work experience or other experience, education, transcripts, demographic information processed during the application or recruitment process such as gender, information about your citizenship and/or nationality, medical or health information, your racial or ethnic origin, or other information you provide to us in connection with or support of an application.
                    </div>
                </li>
            </ul>
            <span class="mb-6">We collect this information:</span>
            <ul class="flex flex-col pl-3 mb-6">
                <li class="flex items-center"><span class="points"></span>Directly from you when you provide it to us.</li>
                <li class="flex items-center"><span class="points"></span>Automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons, and other tracking technologies.<li>
                <li class="flex items-center"><span class="points"></span>From third parties, such as our service providers and business partners.</li>
            </ul>
            <span class="font-bold mb-6 text-[2rem]">Information You Provide to Us </span>
            <span class="mb-6">The information we may ask you to provide and that we will collect may include</span>
            <ul class="flex flex-col pl-3 mb-6">
                <li class="flex items-center"><span class="points"></span>Information that you provide by filling in forms or signing up for our newsletters on our Website. This includes information provided at the time of registering for an account on our Website.</li>
                <li class="flex items-center"><span class="points"></span>Records and copies of your correspondence (including email addresses), if you contact us.<li>
                <li class="flex items-center"><span class="points"></span>Your responses to surveys that we might ask you to complete for research purposes.</li>
                <li class="flex items-center"><span class="points"></span>Details of transactions you carry out through our Website and of the fulfillment of your orders. You may be required to provide financial information before placing an order through our Website.</li>
                <li class="flex items-center"><span class="points"></span>If you are applying for a work or service provider position, we may collect information about your work experience, your resume, the URL to your personal or professional websites, and your skill sets and certifications.</li>
            </ul>
            <span class="mb-6">
                You also may provide information to be published or displayed (hereinafter, "posted") on public areas of the Website, or transmitted to other users of the Website or third parties (collectively, "User Contributions"). Your User Contributions are posted on and transmitted to others at your own risk. Although [we limit access to certain pages/you may set certain privacy settings for such information by logging into your account profile], please be aware that no security measures are perfect or impenetrable. Additionally, we cannot control the actions of other users of the Website with whom you may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions will not be viewed by unauthorized persons.
            </span>
            <span class="font-bold mb-6 text-[2rem] mt-8">Information We Collect Through Automatic Data Collection Technologies </span>
            <span class="mb-6">
                As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:
            </span>
            <ul class="flex flex-col pl-3 mb-6">
                <li class="flex items-center"><span class="points"></span>Details of your visits to our Website, including traffic and usage data, location data, logs, and data about the pages and areas that you access and interact with on the Website.</li>
                <li class="flex items-center"><span class="points"></span>Information about your computer and internet connection, including your IP address, operating system, and browser type.<li>
            </ul>
            <span class="mb-6">
                We also may use these technologies to collect information about your online activities over time and across third-party websites or other online services (behavioral tracking).
            </span>
            <span class="mb-6">
                The personal information we collect automatically is aggregated statistical data and does not] include personal information, but we may maintain it or associate it with personal information we collect in other ways or receive from third parties]. It helps us to improve our Website and to deliver a better and more personalized service, including by enabling us to:
            </span>
            <ul class="flex flex-col pl-3 mb-6">
                <li class="flex items-center"><span class="points"></span>Estimate our audience size and usage patterns.</li>
                <li class="flex items-center"><span class="points"></span>Store information about your preferences, allowing us to customize our Website according to your individual interests.<li>
                <li class="flex items-center"><span class="points"></span>Speed up your searches.</li>
                <li class="flex items-center"><span class="points"></span>Remember your preferences while you use our Website.</li>
            </ul>
            <span class="mb-6">
                The technologies we use for this automatic data collection may include:
            </span>
            <ul class="flex flex-col pl-3 mb-6">
                <li class="flex items-center">
                    <span class="points"></span>
                    <div>
                        <span class="font-bold mb-6">Cookies: </span>A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to our Website.
                    </div>
                </li>
                <li class="flex items-center">
                    <span class="points"></span>
                    <div>
                        <span class="font-bold mb-6">Performance and Analytics Cookies: </span>These cookies allow us to count visits and traffic sources, through various third parties, so we can measure and improve the performance of our Website. These enable us to collect information about how you use our Website or read our publications, for instance which pages are viewed by visitors most frequently and how users interact with each of our Website. This information is used to compile reports to improve the respective site, including reports on the number of visitors to the Website, where the visitors are located, marketing and referrals, and what pages the users visit on the Website. All information these cookies collect is aggregated and is not associated with an identifiable individual. If you do not allow these cookies, we will not know when you have visited our Website and will not be able to monitor site performance.
                    </div>
                </li>
                <li class="flex items-center">
                    <span class="points"></span>
                    <div>
                        <span class="font-bold mb-6">Web Beacons: </span>Pages of our the Website [and our e-mails] may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit Sahara, for example, to count users who have visited those pages or [opened an email] and for other related website statistics (for example, recording the popularity of certain website content and verifying system and server integrity).
                    </div>
                </li>
                <li class="flex items-center">
                    <span class="points"></span>
                    <div>
                        <span class="font-bold mb-6">Pixel Tags: </span>Pixel tags are tiny graphic images with a unique identifier, similar in function to cookies, that are used to track online movements of web users. In contrast to cookies, which are stored on a computer’s hard drive or web browser, pixel tags are embedded invisibly in web pages. Pixel tags are often used in combination with cookies, to trigger the placing of cookies, and/or to transmit information to us or our vendors or partners. This enables two websites to share information. The resulting connection can include information such as a device’s IP address, the time a person viewed the pixel, an identifier associated with a browser or device, the type of browser being used, and the URL of the web page from which the pixel was viewed. Pixel tags also allow us to send email messages in a format that users can read, tell us whether emails have been opened, and help to ensure we are sending only messages that may be of interest to our consumers.
                    </div>
                </li>
            </ul>
            <span class="font-bold mb-6 text-[2rem] mt-8">How We Use Your Information</span>
            <span class="mb-6">We use personal information that we collect about you or that you provide to us, including any personal information:</span>
            <ul class="flex flex-col pl-3 mb-6">
                <li class="flex items-center"><span class="points"></span>To provide our Website and its contents to you.</li>
                <li class="flex items-center"><span class="points"></span>To provide you with information, products, or services that you request from us.<li>
                <li class="flex items-center"><span class="points"></span>To fulfill any other purpose for which you provide it.</li>
                <li class="flex items-center"><span class="points"></span>To provide you with notices about your account, including information about purchases.</li>
                <li class="flex items-center"><span class="points"></span>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.To fulfill any other purpose for which you provide it.</li>
                <li class="flex items-center"><span class="points"></span>To notify you about changes to our Website or any products or services we offer or provide though it.</li>
                <li class="flex items-center"><span class="points"></span>To process job applications, conduct background checks, and assess your skills, qualifications, and interest in our career opportunities.</li>
                <li class="flex items-center"><span class="points"></span>For other purpose we may disclose when you provide the personal information.</li>
                <li class="flex items-center"><span class="points"></span>For any other purpose with your consent.</li>
            </ul>
            <span class="mb-6">We may use the information we have collected from you to enable us to display advertisements to our advertisers' target audiences. Even though we do not disclose your personal information for these purposes without your consent, if you click on or otherwise interact with an advertisement, the advertiser may assume that you meet its target criteria. </span>
            <span class="mb-6">Disclosure of Your Information</span>
            <span class="mb-6">We may disclose aggregated information about our users[, and information that does not identify any individual,] without restriction.</span>
            <span class="mb-6">We may disclose personal information that we collect or you provide as described in this policy:</span>
            <ul class="flex flex-col pl-3 mb-6">
                <li class="flex items-center"><span class="points"></span>To our subsidiaries and affiliates.</li>
                <li class="flex items-center"><span class="points"></span>To contractors, service providers, and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.<li>
                <li class="flex items-center"><span class="points"></span>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Sahara's assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by us about our Website users is among the assets transferred.</li>
                <li class="flex items-center"><span class="points"></span>To fulfill the purpose for which you provide it. For example, if you give us an email address to sign up for our newsletter, we may transmit your email address to our third-party service provider that sends the newsletter on our behalf.</li>
                <li class="flex items-center"><span class="points"></span>For any other purpose disclosed by us when you provide the personal information.</li>
                <li class="flex items-center"><span class="points"></span>With your consent.</li>
            </ul>
            <span class="mb-6">We may also disclose your personal information:</span>
            <ul class="flex flex-col pl-3 mb-6">
                <li class="flex items-center"><span class="points"></span>To comply with any court order, law, or legal process, including responding to any government or regulatory request.</li>
                <li class="flex items-center"><span class="points"></span>To enforce or apply our terms of service and other agreements, including for billing and collection purposes.<li>
                <li class="flex items-center"><span class="points"></span>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Sahara, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of conducting background checks, complying with Know Your Customer and anti-money laundering laws, fraud protection, and credit risk reduction.</li>
            </ul>
            <span class="font-bold mb-6 text-[2rem] mt-8">Data Security</span>
            <span class="mb-6">
                We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. Unfortunately, the transmission of personal information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Website. Any transmission of personal information is at your own risk.
            </span>
            <span class="font-bold mb-6 text-[2rem] mt-8">Children Under the Age of 18</span>
            <span class="mb-6">
                Our Website is not intended for children under 18 years of age. No one under age 18 may provide any personal information to or on the Website. We do not knowingly collect personal information from children under 18. If you are under 18, do not use or provide any information on this Website, register for the newsletter, make any purchases through the Website, or provide any information about yourself to us, including your name, address, telephone number, email address, or any screen name or username you may use. If we learn we have collected or received personal information from a child under 18, we will delete that information. If you believe we might have any information from or about a child under 18, please contact us at privacy@saharalabs.ai.
            </span>
            <span class="font-bold mb-6 text-[2rem] mt-8">Your Privacy Rights</span>
            <span class="mb-6">
                Under California’s “Shine the Light” law (Cal. Civ. Code § 1798.83), California residents who provide us certain personal information are entitled to request and obtain from us, free of charge, information about the personal information (if any) we have shared with third parties during the immediately preceding calendar year for their own direct marketing use. Such requests may be made once per calendar year for information about any relevant third-party sharing in the prior calendar year. California residents who would like to make such a request may submit a request via the contact information provided below. The request should attest to the fact that the requester is a California resident and provide a current California address. We are only required to respond to a customer request once during any calendar year. Please be aware that not all information sharing is covered by California’s “Shine the Light” law and only information sharing that is covered will be included in our response.
            </span>
            <span class="mb-6">
                If you are a resident of Nevada, you have the right to opt-out of the sale of certain personal information to third parties who intend to license or sell that personal information. You can exercise this right by contacting us here. Please note that we do not currently sell your personal information as sales are defined in Nevada Revised Statutes Chapter 603A. If you have any questions, please contact us.
            </span>
            <span class="font-bold mb-6 text-[2rem] mt-8">Contact Information</span>
            <span class="mb-6">To ask questions or comment about this privacy policy and our privacy practices, contact us at: </span>
            <span class="font-bold mb-6">Email: privacy@saharalabs.ai</span>
            <span class="font-bold mb-6">Mail:</span>
            <span class="font-bold mb-6">P.O. Box 144</span>
            <span class="font-bold mb-6">3119 9 Forum Lane</span>
            <span class="font-bold mb-6">Camana Bay</span>
            <span class="font-bold mb-6">George Town</span>
            <span class="font-bold mb-6">Grand Cayman</span>
            <span class="font-bold mb-6">Cayman Islands KY1-9006</span>
        </div>
    </section>


</Layout>

<style>
    li {
        display: flex;
        margin-bottom: 14px;
    }
    .points {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: white;
        margin-right: 6px;
        flex-shrink: 0;
    }
</style>