---
import TitleComponent from "@/components/TitleComponent.astro";
import TextTyping from "@/components/TextTyping.astro";
// import AutomateSection from "@/components/AutomateSection.astro";
import Layout from "../layouts/PageLayout.astro";
import PageMeta from "@/data/research";
const { titles } = PageMeta;
import { Icon } from "astro-icon/components";
---

<Layout title="saharaa.ai" active="research">
  <slot slot="base-layout">
    <div
      id="sectionHero"
      class="w-screen h-screen first-screen-bottom-mask-wrap relative"
    >
    </div>

    <div
      id="sectionTitle"
      class="w-screen h-screen absolute left-0 top-0 pointer-events-none"
    >
      <TitleComponent
        className="!w-[28.75rem] mobile:!max-w-[19.75rem] tablet:!text-sm"
        titleClassName="tablet:!text-h4 mobile:!text-h5"
        titles={titles}
      />
    </div>
  </slot>
  <div
    id="sectionDescription"
    class="tablet:pt-[7.75rem] border-b border-b-dark-200 pt-[16.75rem]"
  >
    <Icon class="w-0 h-0" name="brandLogo" />
    <div
      class="mt-10 pt-8 tablet:mt-0 tablet:pt-0 pb-5 text-light-200 text-sm tablet:text-xs text-center"
    >
      Sean Ren
    </div>
    <div
      class="font-[Manrope] text-base mobile:text-sm flex mx-auto w-[50rem] tablet:w-[33.125rem] mobile:w-full mb-[6.25rem] tablet:mb-[3.125rem]"
    >
      <div class="mr-[3.125rem] tablet:mr-5">
        <Icon class="w-6 h-6 mobile:w-4 mobile:h-4" name="quotes" />
      </div>
      <div class="text-center tablet:text-sm">
        AI development is at an inflection point. On many fronts, AI has begun
        to surpass human performance and automate increasingly large portions of
        our lives. In the new era, it is critically important to protect the
        privacy of users, guarantee the provenance of the data and model, and
        establish a decentralized and trustless network of AI and humans.
      </div>
      <div class="ml-[3.125rem] tablet:ml-5 flex items-end">
        <Icon
          class="w-6 h-6 rotate-180 mb-[5px] mobile:w-4 mobile:h-4"
          name="quotes"
        />
      </div>
    </div>
  </div>
  <div
    class="pt-[9.125rem] mt-[6.125rem] pb-40 font-[Manrope] tablet:mt-7 tablet:py-20 tablet:pb-0"
  >
    <div
      class="grid gap-x-32 grid-cols-2 mb-20 tablet:flex tablet:items-center flex-col tablet:mb-6"
    >
      <div class="col-span-1 tablet:text-center tablet:mb-11">
        <div
          class="text-h2 tablet:text-h4 mobile:text-h5 w-[27rem] mobile:w-[17.5rem] flex flex-col"
        > 
          <TextTyping text="Sahara" />
          <TextTyping text="Research" delay="1.5" />
        </div>
      </div>
      <div
        class="common-up-move col-span-1 pr-[1.75rem] tablet:flex flex-col items-center tablet:pr-0 mobile:text-center"
      >
        <div
          class="mb-[3.75rem] w-[7.5rem] h-[7.5rem] tablet:w-20 tablet:h-20 tablet:mb-7"
        >
          <Icon class="w-full h-full text-light-200" name="brandLogo" />
        </div>
        <div class="text-h5 tablet:text-s3">Privacy-First</div>
        <div class="mb-7 text-h5 tablet:text-s3 mobile:mb-4">
          Decentralized Learning
        </div>
        <div
          class="mb-7 text-light-200 text-base mobile:mb-4 tablet:text-sm tablet:w-[30rem] mobile:w-full tablet:text-center"
        >
          In the ever-progressing field of Large Language Models (LLMs), there
          has been a significant shift towards addressing the critical concerns
          of data privacy and over-centralized model learning. As these models
          become more intricate and widely used, the necessity of handling
          sensitive information securely and distributing the learning process
          becomes paramount.
        </div>
        <a href="https://arxiv.org/abs/2212.09849" target="_blank">
            <div
            class="border font-[IBMPlexMono] mb-5 border-dark-200 tablet:w-full text-sm cursor-pointer py-3 px-4 flex justify-between items-center rounded-xl text-light-100 mobile:text-xs text-left"
          >
            Dataless Knowledge Fusion by Merging Weights of Language Models
            <Icon class="min-w-5 h-5" name="arrowRightUp" />
          </div>
        </a>
        <a href="https://arxiv.org/abs/2104.08815" target="_blank">
          <div
            class="border font-[IBMPlexMono] border-dark-200 tablet:w-full text-sm cursor-pointer py-3 px-4 flex justify-between items-center rounded-xl text-light-100 mobile:text-xs text-left"
          >
            FedNLP: Benchmarking Federated Learning Methods for Natural Language
            Processing Tasks
            <Icon class="min-w-5 h-5" name="arrowRightUp" />
          </div>
        </a>
      </div>
    </div>
    <div
      class="grid gap-x-32 grid-cols-2 pb-20 tablet:flex tablet:items-center flex-col tablet:pb-6"
    >
      <div
        class="common-up-move col-span-1 pr-[1.75rem] tablet:flex flex-col items-center tablet:pr-0 tablet:mb-6 tablet:mt-11"
      >
        <div
          class="mb-[3.75rem] w-[7.5rem] h-[7.5rem] tablet:w-20 tablet:h-20 tablet:mb-7"
        >
          <Icon class="w-full h-full text-light-200" name="brandLogo" />
        </div>
        <div class="text-h5 mb-7">AI Agents</div>
        <div
          class="mb-7 text-light-200 text-base tablet:text-sm tablet:w-[30rem] mobile:w-full tablet:text-center"
        >
          LLM-powered knowledge agents offer unprecedented capabilities in
          various applications ranging from personal assistant to autonomous
          research and data analysis. As these agents grow in complexity and
          ubiquity, their ability for problem-solving and global planning is the
          key to user experience.
        </div>
        <a href="https://arxiv.org/abs/2305.17390" target="_blank">
          <div
            class="border mb-5 font-[IBMPlexMono] tablet:w-full border-dark-200 text-sm cursor-pointer py-2.5 px-4 flex justify-between items-center rounded-xl text-light-100 mobile:text-xs text-left"
          >
            SwiftSage: A Generative Agent with Fast and Slow Thinking for Complex
            Interactive Tasks
            <Icon class="min-w-5 h-5" name="arrowRightUp" />
          </div>
        </a>
        <a href="https://openreview.net/forum?id=a0mFRgadGO" target="_blank">
          <div
          class="border font-[IBMPlexMono] tablet:w-full border-dark-200 text-sm cursor-pointer py-2.5 px-4 flex justify-between items-center rounded-xl text-light-100 mobile:text-xs text-left"
        >
          Bootstrap Your Own Skills: Learning to Solve New Tasks with Large
          Language Model Guidance
          <Icon class="min-w-5 h-5" name="arrowRightUp" />
        </div>
        </a>
      </div>
      <div
        class="common-up-move col-span-1 pr-[1.75rem] tablet:flex flex-col items-center tablet:pr-0 tablet:mt-11"
      >
        <div
          class="mb-[3.75rem] w-[7.5rem] h-[7.5rem] tablet:w-20 tablet:h-20 tablet:mb-7"
        >
          <Icon class="w-full h-full text-light-200" name="brandLogo" />
        </div>
        <div class="text-h5 mb-7 mobile:text-s3">Human-AI Collaboration</div>
        <div
          class="mb-7 text-light-200 text-base tablet:text-sm tablet:w-[30rem] mobile:w-full tablet:text-center"
        >
          The intersection of human intelligence and artificial intelligence,
          particularly in the context of Large Language Models (LLMs), presents
          a landscape rich with opportunities and challenges. Understanding the
          dynamics of Human-AI collaboration is essential for leveraging the
          capabilities of LLMs while addressing potential risks.
        </div>
        <a href="https://arxiv.org/abs/2401.06730" target="_blank">
          <div
          class="border mb-5 font-[IBMPlexMono] tablet:w-full border-dark-200 text-sm cursor-pointer py-2.5 px-4 flex justify-between items-center rounded-xl text-light-100 mobile:text-xs text-left"
        >
          Relying on the Unreliable: The Impact of Language Models' Reluctance
          to Express Uncertainty
          <Icon class="min-w-5 h-5" name="arrowRightUp" />
        </div>
        </a>
        <a href="https://arxiv.org/abs/2310.03051" target="_blank">
          <div
          class="border mb-5 font-[IBMPlexMono] tablet:w-full border-dark-200 text-sm cursor-pointer py-2.5 px-4 flex justify-between items-center rounded-xl text-light-100 mobile:text-xs text-left"
        >
          How Far Are Large Language Models From Agents with Theory-of-Mind?
          <Icon class="min-w-5 h-5" name="arrowRightUp" />
        </div>
        </a>
        <a href="https://arxiv.org/abs/2103.10415" target="_blank">
          <div
          class="border font-[IBMPlexMono] tablet:w-full border-dark-200 text-sm cursor-pointer py-2.5 px-4 flex justify-between items-center rounded-xl text-light-100 mobile:text-xs text-left"
        >
          Refining Language Models with Compositional Explanations
          <Icon class="min-w-5 h-5" name="arrowRightUp" />
        </div>
        </a>
      </div>
    </div>
    <div
      class="grid gap-x-32 grid-cols-2 mb-20 tablet:flex items-center flex-col tablet:mb-0 tablet:pb-11 tablet:mt-11"
    >
      <div
        class="common-up-move col-span-1 pr-[1.75rem] tablet:flex flex-col items-center tablet:pr-0"
      >
        <div
          class="mb-[3.75rem] w-[7.5rem] h-[7.5rem] tablet:w-20 tablet:h-20 tablet:mb-7"
        >
          <Icon class="w-full h-full text-light-200" name="brandLogo" />
        </div>
        <div class="text-h5 mb-7 mobile:text-s3">Continuous Learning</div>
        <div
          class="mb-7 text-light-200 text-base tablet:text-sm tablet:w-[30rem] mobile:w-full tablet:text-center"
        >
          The concept of continuous learning represents a pivotal advancement in
          the development and application of Large Language Models (LLMs),
          addressing the need for these models to adapt and evolve in response
          to ever-changing data landscapes. This area of research is
          particularly crucial in ensuring that LLMs remain relevant, accurate,
          and efficient in real-world applications.
        </div>
        <a href="https://arxiv.org/abs/2110.08534" target="_blank">
          <div
          class="border mb-5 font-[IBMPlexMono] tablet:w-full border-dark-200 text-sm cursor-pointer py-2.5 px-4 flex justify-between items-center rounded-xl text-light-100 mobile:text-xs text-left"
        >
          Lifelong Pretraining: Continually Adapting Language Models to Emerging
          Corpora
          <Icon class="min-w-5 h-5" name="arrowRightUp" />
        </div>
        </a>
        <a href="https://arxiv.org/abs/2205.02014" target="_blank" rel="noopener noreferrer">
          <div
          class="border font-[IBMPlexMono] tablet:w-full border-dark-200 text-sm cursor-pointer py-2.5 px-4 flex justify-between items-center rounded-xl text-light-100 mobile:text-xs text-left"
        >
          On Continual Model Refinement in Out-of-Distribution Data Streams
          <Icon class="min-w-5 h-5" name="arrowRightUp" />
        </div>
        </a>
      </div>
    </div>
  </div>
  <div slot="footer">
    <div class="placeholder bg-opacity-0 h-[50px] tablet:hidden mobile:hidden">
    </div>
  </div>
</Layout>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import HeroView from "@/webgl/HeroView";
  import { makeCommonAppearEffect } from "@/utils/gsap.utils";

  gsap.registerPlugin(ScrollTrigger);
  makeCommonAppearEffect();

  const heroEl = document.getElementById("sectionHero");
  if (heroEl) {
    const viewer = new HeroView(heroEl, { layout: "two" });
    viewer.useSetup();
    viewer.play();
    gsap.to(heroEl, {
      scrollTrigger: {
        trigger: "#sectionDescription",
        start: "top bottom",
        end: "top top-=30",
        scrub: true,
      },
      opacity: 0,
    });

    ScrollTrigger.create({
      trigger: "#sectionDescription",
      start: "top-=150 top",
      onLeaveBack: () => {
        viewer.play();
      },
      onEnter: () => {
        viewer.stop();
      },
    });
  }
</script>
<style></style>
