---
import TitleComponent from "@/components/TitleComponent.astro";
// import AutomateSection from "@/components/AutomateSection.astro";
import teamBackground from "@/components/teamBackground";
import { Image } from "astro:assets";
import Layout from "../layouts/PageLayout.astro";
import PageMeta from "@/data/aboutUs";
import { Icon } from "astro-icon/components";
import founder01 from "@/assets/images/founder01.jpg";
import founder02 from "@/assets/images/founder02.jpg";
const { titles } = PageMeta;
---

<Layout title="saharaa.ai" active="aboutUs">
  <div id="sectionHero" class="w-screen h-screen first-screen-bottom-mask-wrap"></div>

  <div
    id="sectionTitle"
    class="w-screen h-screen absolute left-0 top-0 pointer-events-none"
  >
    <TitleComponent titles={titles} />
  </div>

  <div
    id="sectionTeam"
    class="text-center mt-40 mb-10 tablet:mt-[3.75rem] tablet:mb-8 tablet:text-h4 text-h2 font-[Manrope]"
  >
    Meet The Team
  </div>
  <div
    class="text-light-200 mb-20 tablet:mb-7 tablet:pb-7 text-center mx-auto text-s3 font-[Manrope] tablet:text-sm tablet:w-[30rem] box-border"
  >
    Sahara team is formed by experts from both AI and Web3 industries, bringing
    years of experience from leading tech companies and distinguished research
    institutions.
  </div>
  <div
    class="grid  grid-cols-2 gap-32 font-[Manrope]  tablet:gap-[3.75rem]"
  >
    <div class="common-up-move">
      <Image class="w-full mb-11 tablet:mb-2.5 rounded-2xl" src={founder01} alt="" />
      <div
        class="text-h4 tablet:text-s3 mb-3 tablet:mb-1 flex items-center justify-between"
      >
        Sean Ren
        <span class="flex"
          ><Icon class="w-5 h-5 m-3" name="twitter" />
          <Icon class="w-5 h-5 m-3" name="linkedin" /></span
        >
      </div>
      <div class="text-s3 tablet:text-xs">Co-founder CEO</div>
    </div>
    <div class="common-up-move">
      <Image class="w-full mb-11 tablet:mb-2.5 rounded-2xl" src={founder02} alt="" />
      <div
        class="text-h4 tablet:text-s3 mb-3 tablet:mb-1 flex items-center justify-between"
      >
        Tyler Zhou
        <span class="flex"
          ><Icon class="w-5 h-5 m-3" name="twitter" />
          <Icon class="w-5 h-5 m-3" name="linkedin" /></span
        >
      </div>
      <div class="text-s3 tablet:text-xs">Co-founder CEO</div>
    </div>
  </div>
  <div
    class="common-up-move grid grid-cols-5 gap-7 teamBackground  mt-40 pb-[3.75rem]  tablet:mt-[3.75rem] border-b border-b-dark-200 tablet:border-none tablet:gap-3 tablet:grid-cols-4 tablet:py-5"
  >
    {
      teamBackground.map((item) => (
        <div>
          <Image src={item} alt="" />
        </div>
      ))
    }
  </div>
  <!-- <AutomateSection /> -->
  <div
    class="flex   mt-40 pb-[3.75rem] tablet:mt-[3.75rem] tablet:pb-7 border-b border-b-dark-200"
  >
    <div class="flex-1 text-h2 tablet:text-h4 font-[Manrope]">Careers</div>
    <div class="pr-[3.75rem] tablet:pr-0">
      <div
        class="text-base tablet:text-sm text-light-200 mb-7 font-[Manrope] w-[37rem] tablet:w-[22rem]"
      >
        Become a part of the team and work with us to build the future of global
        knowledge capital.
      </div>
      <div
        class="w-max tablet:w-full border whitespace-nowrap border-light-100 font-[IBMPlexMono-Medium] text-sm leading-6 cursor-pointer py-2.5 px-4 flex items-center justify-center rounded-xl text-light-100"
      >
        Open Positions
        <Icon class="w-5 h-5" name="arrowRightUp" />
      </div>
    </div>
  </div>
  <div
    class="flex   py-[3.75rem] tablet:py-7 border-b border-b-dark-200"
  >
    <div class="flex-1 text-h2 tablet:text-h4 font-[Manrope]">Vision</div>
    <div class="pr-[3.75rem] tablet:pr-0">
      <div
        class="text-base tablet:text-sm text-light-200 font-[Manrope] w-[37rem] tablet:w-[22rem]"
      >
        Sahara envisions a world where the seamless merge of AI and blockchain
        technologies maximizes human potential and enables knowledge to be a
        shared and valued resource for every human.
      </div>
    </div>
  </div>
  <div
    class=" mt-40 border-b border-b-dark-200 tablet:mx-auto tablet:w-[33.125rem] tablet:mb-7 tablet:mt-[3.75rem]"
  >
    <div class="my-7 py-1.5 flex gap-x-4 justify-center">
      <Icon class="w-7 h-7 tablet:w-5 tablet:h-5" name="brandLogo" />
      <Icon
        class="w-7 h-7 tablet:w-5 tablet:h-5 text-light-200"
        name="brandLogo"
      />
      <Icon
        class="w-7 h-7 tablet:w-5 tablet:h-5 text-light-300"
        name="brandLogo"
      />
      <Icon
        class="w-7 h-7 tablet:w-5 tablet:h-5 text-light-300"
        name="brandLogo"
      />
    </div>
    <div
      class="font-[Manrope] text-2xl leading-9 flex mx-auto w-[50rem] tablet:w-[33.125rem] mb-[6.25rem] tablet:mb-[3.125rem]"
    >
      <div class="mr-[3.125rem] tablet:mr-5">
        <Icon class="w-6 h-6" name="quotes" />
      </div>
      <div class="font-[Manrope] text-center text-s3 tablet:text-sm">
        The name 'Sahara' embodies our commitment to fairness and unity,
        reflecting how the myriad grains of sand form the desert's expansive and
        awe-inspiring terrain, paralleling the immense diversity of knowledge
        found within individuals in society.
      </div>
      <div class="ml-[3.125rem] tablet:ml-5 flex items-end">
        <Icon class="w-6 h-6 rotate-180" name="quotes" />
      </div>
    </div>
  </div>
</Layout>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { makeCommonAppearEffect } from "@/utils/gsap.utils";
  import HeroView from "@/webgl/HeroView";

  gsap.registerPlugin(ScrollTrigger);
  makeCommonAppearEffect();

  const heroEl = document.getElementById("sectionHero");
  if (heroEl) {
    const viewer = new HeroView(heroEl, { layout: "two" });
    viewer.useSetup();
    viewer.play();
    gsap.to(heroEl, {
      scrollTrigger: {
        trigger: "#sectionTeam",
        start: "top bottom",
        end: "top top-=30",
        scrub: true,
        onEnterBack: () => {
          viewer.play();
        },
        onLeave: () => {
          viewer.stop();
        },
      },
      opacity: 0,
    });
  }

  const titleEl = document.getElementById("sectionTitle");
  if (titleEl) {
    gsap.to(titleEl, {
      scrollTrigger: {
        trigger: "#sectionTeam",
        start: "top bottom",
        end: "top top",
        scrub: true,
      },
      opacity: 0,
      y: "-30%",
    });
  }
</script>
<style>
  .teamBackground > div {
    border: 1px solid #62666d;
    border-radius: 1.25rem;
    overflow: hidden;
  }
</style>
