---

---

<div id="hero3D" class="w-full h-screen"></div>
<!-- <div class="w-full h-screen bg-transparent"></div> -->
<script>
  import HeroView from "@/webgl/HeroView";
  const canvasEl = document.getElementById("hero3D");

  if (canvasEl) {
    const viewer = new HeroView(canvasEl);
    viewer.useSetup();
    viewer.play();
  }
</script>
