---
interface Props {
  scene: "1" | "2" | "3";
}

const { scene = "3" } = Astro.props;
---

<loop-ring class="flex w-full aspect-square justify-center items-center">
  <div id="ring-3d" data-scene={scene} class="w-full h-full"></div>
</loop-ring>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import RingView from "@/webgl/StaticRingView";

  gsap.registerPlugin(ScrollTrigger);

  class LoopRing extends HTMLElement {
    constructor() {
      super();
      const viewEl = this.querySelector<HTMLDivElement>("#ring-3d");
      if (viewEl) {
        const viewer = new RingView(viewEl);
        viewer.useSetup(false);
        const scene = viewEl.dataset["scene"] || "3";
        if (scene === "1") {
          viewer.scene0To1();
        } else if (scene === "2") {
          viewer.scene0To2();
        } else {
          viewer.scene0To3();
        }

        ScrollTrigger.create({
          trigger: viewEl,
          scrub: true,
          start: "top bottom",
          end: "bottom top",
          onEnter: () => {
            viewer.play();
          },
          onLeave: () => {
            viewer.stop();
          },
          onEnterBack: () => {
            viewer.play();
          },
          onLeaveBack: () => {
            viewer.stop();
          },
        });
      }
    }
  }

  customElements.define("loop-ring", LoopRing);
</script>
