---

---

<div
  id="ringSection"
  class="h-screen w-full flex flex-col justify-center items-center gap-[20px] relative tablet:hidden"
>
  <div class="h-[580px] w-full flex justify-around items-center relative">
    <div class="progress h-[320px]">
      <div class="w-0.5 h-[20rem] bg-dark-100">
        <div id="ringProgress" class="bg-light-100 h-1/3 w-full"></div>
      </div>
    </div>

    <div
      class="h-[580px] relative overflow-hidden flex-shrink-0 flex-grow-0 w-[46.75rem] tablet:w-full pr-[8rem] font-[Manrope]"
    >
      <div class="mask-up h-[120px] z-10 absolute left-0 right-0 top-0"></div>
      <ul id="scrollSection" class="w-[38rem] absolute top-[130px]">
        <li class="section-start flex flex-col h-[320px]">
          <h1 class="text-sm mb-7 font-[IBMPlexMono]">#1</h1>
          <h1 class="text-h2 mb-1">
            <div class="mb-[0.875rem]">Own your</div>
            <div>knowledge</div>
          </h1>
          <div class="mt-7 pr-5 text-base">
            Use blockchain infrastructure that's trustless, permissionless, and
            privacy-preserving so your information stays under your control.
          </div>
        </li>
        <li class="h-[60px]"></li>
        <li class="section-mid flex flex-col h-[320px]">
          <h1 class="text-sm mb-7 font-[IBMPlexMono]">#2</h1>
          <h1 class="text-h2 mb-1">
            <div class="mb-[0.875rem]">Scale your</div>
            <div>knowledge</div>
          </h1>
          <div class="mt-7 pr-5">
            Create autonomous Al agents that expand the impact of your knowledge
            base, skills, and expertise and are customized to meet your needs.
          </div>
        </li>
        <li class="h-[60px]"></li>
        <li class="section-end flex flex-col h-[320px]">
          <h1 class="text-sm mb-7 font-[IBMPlexMono]">#3</h1>
          <h1 class="text-h2 mb-1">
            <div class="mb-[0.875rem]">Monetize your</div>
            <div>knowledge</div>
          </h1>
          <div class="mt-7 pr-5">
            Join the decentralized ecosystem of global knowledge capital to
            leverage your data for novel income opportunities.
          </div>
        </li>
      </ul>
      <div class="mask-down h-[120px] z-10 absolute left-0 right-0 bottom-0">
      </div>
    </div>

    <div class="flex render justify-center items-center aspect-square">
      <div id="ring-3d" class="w-full h-full"></div>
    </div>
  </div>
  <slot />
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import RingView from "@/webgl/RingView";

  gsap.registerPlugin(ScrollTrigger);

  function easeOutQuad(t: number): number {
    const x = Math.abs(t);
    return (1 - (1 - x) * (1 - x)) * Math.sign(t);
  }

  const viewEl = document.getElementById("ring-3d");
  const viewer = new RingView(viewEl || document.createElement("div"));
  viewer.useSetup();

  const ringContainer = document.getElementById("ringSection");
  if (ringContainer) {
    let ringRect = ringContainer?.getBoundingClientRect();
    // ringContainer.addEventListener("pointermove", (event) => {
    //   if (event.isPrimary === false) return;
    //   const e = event;
    //   const normalizeX = ((e.clientX - ringRect.left) / ringRect.width) * 2 - 1;
    //   const x = 4 * Math.sin((Math.PI * easeOutQuad(normalizeX)) / 20);
    //   const z = 4 * Math.cos((Math.PI * easeOutQuad(normalizeX)) / 20);
    //   viewer.rotateCamera({ x, z });
    // });
    window.addEventListener("resize", () => {
      ringRect = ringContainer?.getBoundingClientRect();
    });
  }

  const SCROLL_HEIGHT = 320 + 30;

  gsap
    .timeline({
      scrollTrigger: {
        trigger: "#ringSection",
        start: () => `top top`,
        end: () => `+=${SCROLL_HEIGHT * 3}px`,
        scrub: true,
        toggleActions: "play none reverse none",
        invalidateOnRefresh: true,
      },
    })
    .to("#scrollSection", {
      duration: 0.75,
      y: -380 + 160,
    })
    .to("#scrollSection", {
      duration: 0.75,
      y: -380 * 2 + 160,
    })
    .to("#scrollSection", {
      duration: 0.75,
      y: -380 * 2,
    });

  ScrollTrigger.create({
    trigger: "#ringSection",
    toggleActions: "play none reverse none",
    start: () => `top top-=${SCROLL_HEIGHT}px`,
    onEnter: () => {
      viewer.scene1To2();
      gsap.to("#ringProgress", {
        duration: 0.5,
        height: "66.6666%",
      });
    },
    onLeaveBack: () => {
      viewer.scene2To1();
      gsap.to("#ringProgress", {
        duration: 0.5,
        height: "33.3333%",
      });
    },
  });

  ScrollTrigger.create({
    trigger: "#ringSection",
    toggleActions: "play none reverse none",
    start: () => `top top-=${SCROLL_HEIGHT * 2}px`,
    onEnter: () => {
      viewer.scene2To3();
      gsap.to("#ringProgress", {
        duration: 0.5,
        height: "100%",
      });
    },
    onLeaveBack: () => {
      viewer.scene3To2();
      gsap.to("#ringProgress", {
        duration: 0.5,
        height: "66.6666%",
      });
    },
  });

  ScrollTrigger.create({
    trigger: "#ringSection",
    scrub: true,
    pin: true,
    start: () => "top top",
    end: () => `bottom top`,
    invalidateOnRefresh: true,
    anticipatePin: 1,
  });

  ScrollTrigger.create({
    trigger: "#ringSection",
    start: () => "top bottom",
    end: () => `bottom top-=410`,
    onEnter: () => {
      viewer.play();
    },
    onLeave: () => {
      viewer.stop();
    },
    onLeaveBack: () => {
      viewer.stop();
    },
    onEnterBack: () => {
      viewer.play();
    },
  });
</script>

<style>
  .mask-up {
    background: rgb(18, 19, 21);
    background: linear-gradient(
      0deg,
      rgba(18, 19, 21, 0) 0%,
      rgba(18, 19, 21, 0.67) 50%,
      rgba(18, 19, 21, 1) 100%
    );
  }
  .mask-down {
    background: rgb(18, 19, 21);
    background: linear-gradient(
      0deg,
      rgba(18, 19, 21, 1) 0%,
      rgba(18, 19, 21, 0.67) 50%,
      rgba(18, 19, 21, 0) 100%
    );
  }
  .progress {
    flex: 1 0 20px;
  }
  .render {
    flex: 1 1 560px;
  }
</style>
