---
import { Image } from "astro:assets";
import imageList from "./partners";
const images = imageList;
---

<div class="gap-7 tablet:gap-3 grid grid-cols-5 tablet:grid-cols-5 mobile:grid-cols-2" id="sliders">
    {
      images.map((item) => (
        <div class="slide border border-light-300 rounded-2xl">
          <Image class="w-full h-auto" src={item} alt="" />
        </div>
      ))
    }
</div>

<style>
    .slide {
      overflow: hidden;
      display: flex;
      align-items: center;
    }
    .slide img {
      width: 100%;
      height: auto;
    }
  </style>
