---
import navData, { type PageRoutes } from "../data/nav";
import { Icon } from "astro-icon/components";

interface Props {
  active?: PageRoutes;
}
const { active } = Astro.props;
const routes = navData.nav.map((nav) => ({
  name: nav.name,
  path: nav.path,
  flag: nav.path,
}));
---

<div
  class="px-[1.75rem] pt-6 pb-[3.25rem] header w-screen flex fixed z-10 justify-between"
>
  <div class="flex text-[#404347]">
    <a href="/" class="logo mr-12 w-11 h-full">
      <Icon class="w-11 h-11 text-white" name="brandLogo"/>
    </a>
    <div class="text-base leading-6 py-2.5 px-3">/</div>
    {
      routes.map((item) => (
        <a
          href={item.path}
          class:list={[
            "text-[#979EA8] whitespace-nowrap text-base leading-6 px-3 py-2.5 block cursor-pointer hover:text-[#E1E4E7]",
            { "text-[#E1E4E7]": active === item.flag },
          ]}
        >
          {item.name}
        </a>
      ))
    }
  </div>
  <div class="flex-1 pointer-events-none"></div>
  <div
    class="border whitespace-nowrap w-40 border-[#474040] text-base leading-5 cursor-pointer py-2.5 px-4 flex items-center rounded-xl text-[#E1E4E7]"
  >
    Join waitlist
    <Icon class="w-5 h-5" name="arrowRightUp" />
  </div>
</div>
<style>
  .header {
    background: linear-gradient(to bottom, rgba(18, 19, 21,1), rgba(18, 19, 21,0));
  }
</style>
