---
import navData, { type PageRoutes } from "../data/nav";
import { Icon } from "astro-icon/components";

interface Props {
  active?: PageRoutes;
}
const { active } = Astro.props;
const routes = navData.nav.map((nav) => ({
  name: nav.name,
  path: nav.path,
  flag: nav.path,
}));
---

<div
  class="px-[1.75rem] pt-6 pb-[3.25rem] header w-screen tablet:hidden flex fixed z-10 justify-between pointer-events-none"
>
  <div class="flex pointer-events-auto">
    <a href="/" class="logo mr-12 w-11 h-full">
      <Icon class="w-11 h-11 text-white" name="brandLogo" />
    </a>
    <div class="text-base leading-6 py-2.5 px-3 text-light-100">/</div>
    {
      routes.map((item) => (
        <a
          href={item.path}
          class:list={[
            "whitespace-nowrap text-base leading-6 relative overflow-hidden  px-3 py-2.5 block cursor-pointer hover:overflow-visible hover:border-b border-b-light-100",
            { "border-b": active === item.flag },
          ]}
        >
          {item.name}
          {item.flag === "aboutUs" && (
            <div class="border absolute top-11 left-1/2 mt-[2px] -translate-x-1/2 bg-dark-400  w-[8.125rem] rounded-xl text-sm leading-6 px-4 py-3 border-dark-100 border-opacity-40">
              <div class="flex items-center">
                Team
                <Icon class="w-5 h-5" name="arrowRightUp" />
              </div>
              <div class="flex items-center">
                Career
                <Icon class="w-5 h-5" name="arrowRightUp" />
              </div>
            </div>
          )}
        </a>
      ))
    }
  </div>
  <div class="flex-1 pointer-events-none"></div>
  <div
    class="border whitespace-nowrap w-40 border-linght-100 font-[IBMPlexMono-Medium] text-[0.875rem] cursor-pointer py-2.5 px-4 flex items-center rounded-xl text-light-100 pointer-events-auto"
  >
    Join waitlist
    <Icon class="min-w-5 h-5" name="arrowRightUp" />
  </div>
</div>
<style>
  .header {
    background: linear-gradient(
      to bottom,
      rgba(18, 19, 21, 1),
      rgba(18, 19, 21, 0)
    );
  }
</style>
