---
import { Image } from "astro:assets";
import imageList from "./partners";
const images = imageList;
---

<div class="gap-[20px] tablet:gap-3 flex justify-center flex-wrap tablet:grid-cols-5 mobile:grid-cols-2 mobile:grid" id="sliders">
    {
      images.map((item) => (
        <a href={item.link ? item.link : "#"}>
          <div class="slide border border-light-300 rounded-2xl">
            <Image class="w-full h-auto" src={item.image} alt="" />
          </div>
        </a>
        
      ))
    }
</div>

<style>
    .slide {
      overflow: hidden;
      display: flex;
      align-items: center;
    }
    .slide img {
      width: 100%;
      height: auto;
    }
  </style>
