---
import { Image } from 'astro:assets';
import imageList from "./partners";
const images = imageList;
---
<div class="h-[7.5rem] tablet:h-[4.25rem] slider-container overflow-x-hidden">
  <div class="flex sliders gap-10">
    {
      images.map(item=>(
        <div class="slide tablet:min-w-[8.25rem] min-w-[16.25rem] tablet:h-[4.25rem]"><Image src={item} alt=""/></div>
      ))
    }
  </div>
</div>
<script>
  import { gsap } from "gsap";
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";

  gsap.registerPlugin(ScrollToPlugin);
  const sliderContainer = document.querySelector(".sliders") as HTMLDivElement;
  const slideWidth = sliderContainer.offsetWidth / 6; //
  console.log(slideWidth);
  gsap.timeline({ repeat: -1, yoyo: true }).to(sliderContainer, {
    duration: 10,
    x: -slideWidth,
    ease: "linear",
  });
</script>
<style>
  .slide {
    border: 1px solid #62666d;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  .slide img {
    width: 100%;
    height: auto;
  }
</style>
