---
import { Icon } from "astro-icon/components";
import TextCarousel from "./TextCarousel.astro";

interface Props {
  titles: {
    texts: string[];
    subDescriptions?: string[];
    description: string;
    button?: {
      text: string;
    };
  };
}
const { texts, description, button, subDescriptions } = Astro.props.titles;
---

<div
  class="h-screen flex flex-col items-center justify-center relative top-0 left-0 pointer-events-none"
>
  {
    texts.map((item) => (
      <h1 class="text-h2 tablet:text-h3 whitespace-nowrap font-[Manrope] pointer-events-none">
        {item}
      </h1>
    ))
  }

  <div
    class="text-light-200 text-s2 w-[28.75rem] pointer-events-none text-center mt-10 tablet:mt-7 font-[Manrope]"
  >
    {description}
  </div>
  {subDescriptions && <TextCarousel list={subDescriptions} />}

  <!-- link button -->
  {
    button && (
      <div class="border w-max whitespace-nowrap border-light-100 text-base cursor-pointer py-2.5 px-4 flex items-center rounded-xl mt-10 tablet:mt-7 text-[#FFFFFF] pointer-events-auto">
        {button.text}
        <Icon class="w-5 h-5" name="arrowRightUp" />
      </div>
    )
  }
</div>

<style></style>
