---

---

<div
  class="w-0 h-screen flex flex-col items-center justify-center relative top-0 left-1/2 -mb-[100vh] pointer-events-none"
>
  <h1 class="text-[6.875rem] leading-[8.75rem] gradient-text">
    Your Knowledge.
  </h1>
  <h1 class="text-[6.875rem] leading-[6.375rem] gradient-text">Your AI.</h1>
  <div class="text-[#979EA8] text-lg w-[28.75rem] text-center mt-10">
    Sahara is developing Al and blockchain-powered infrastructure that unlocks
    fair and universal access to knowledge capital.
  </div>
  <div
    class="border whitespace-nowrap border-[#474040] text-base cursor-pointer py-2.5 px-4 flex items-center rounded-xl mt-10 text-[#E1E4E7]"
  >
    Get in touch
  </div>
</div>

<style>
  .gradient-text {
    background: linear-gradient(to left, #404347, #e1e4e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }
</style>
