* {
  box-sizing: border-box;
}

@font-face {
  font-family: IBMPlexMono;
  font-style: normal;
  src: url(../assets/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: IBMPlexMono-Medium;
  font-style: normal;
  src: url(../assets/fonts/IBMPlexMono-Medium.ttf);
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  src: url(../assets/fonts/Manrope-VariableFont_wght.ttf);
}


body {
  font-family: IBMPlexMono;
  color: #E1E4E7;
}

.common-up-move {
  opacity: 0;
}

.first-screen-bottom-mask-wrap::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7.5rem;
  pointer-events: none;
  background: linear-gradient(to top, rgba(18, 19, 21, 1), rgba(18, 19, 21, 0));
}

.input-bg {
  background: none;
}

.loading-button {
  position: relative;
}

.loading-button.loading::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid transparent;
  border-top: 4px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.common-button {
  @apply border border-light-100 font-[IBMPlexMono-Medium] text-light-100 cursor-pointer bg-dark-400;
}

.common-button:hover {
  @apply text-dark-300 bg-light-100;
}

.common-button:active {
  @apply border-light-300 bg-dark-100 text-light-100;
}

