---
import { SEO } from "astro-seo";

interface Props {
	title: string;
	description?: string;
	// iphone topbar color
	barColor?: string;
}

const { title, description, barColor = "#000" } = Astro.props;
// const BASE_URL = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en">
	<head>
		<title>Sahara AI - #1 decentralized network for personalized autonomous AI</title>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="theme-color" content={barColor} />
		<meta name="apple-mobile-web-app-status-bar-style" content={barColor} />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:description" content="A permissionless, high performance blockchain designed for securely deploying personalized autonomous AI with privacy and provenance ">
		<SEO
			title={title}
			description={description || "Sahara AI"}
			titleDefault="Sahara AI"
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<style is:global>
			@import "../css/style.css";
		</style>
		<script>
			// import Bowser from "bowser";
			import env from "@/utils/bowser.utils";
			// window.env = Bowser.parse(window.navigator.userAgent);
			window.env = env;
			window.document.documentElement.setAttribute(
				"data-browser",
				window.env.browser.name || "unknown",
			);
		</script>
	</head>
	<body class="bg-dark-400 w-screen overflow-x-hidden relative">
		<slot />
	</body>
</html>
