---
import BaseLayout from "./BaseLayout.astro";
import LaptopHeader from "../components/LaptopHeader.astro";
import MobileHeader from "../components/MobileHeader.astro";
import CommonFooter from "../components/CommonFooter.astro";
import type { PageRoutes } from "../data/nav";

interface Props {
  title: string;
  active?: PageRoutes;
  isFooterSlot?: boolean
}

const { title, active, isFooterSlot } = Astro.props;
---

<BaseLayout title={title} barColor="#000">
  <LaptopHeader active={active} />
  <MobileHeader />
  <slot name="base-layout"></slot>
  <div class="max-w-[1408px] w-[82%] tablet:w-full mx-auto tablet:px-6 mobile:px-3"><slot /></div>
  <CommonFooter isSlot={isFooterSlot}>
    <slot slot="footer" name="footer" />
  </CommonFooter>
</BaseLayout>
